body {
    background-color: rgba(18, 18, 18);
    background-image: url("images/lonerism.jpg");
    background-size: cover;

}

.navigation {
    background-color: hsla(0, 4%, 59%, 0.51);
}

.navigation ul {
    display: flex;
    flex-direction: row;
    
}

.navigation ul li {
    list-style: none;
    padding: 2.5%;
}

.navigation ul li a {
    color: white;
    text-decoration: none;
    font-family: Helvetica;
}

.navigation ul li:hover {
    cursor: pointer;
    background-color: yellow;
}

.navigation ul li:hover>a {
    color: black;
}

.main-content ul li a{
    list-style: none;
    color: rgb(241, 237, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.main-content ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.main-content ul li a p{
    font-family: Helvetica;
    font-size: 16px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    background-color:rgb(18, 18, 18);
}

.main-content ul li a img {
    width: 250px;
}

.about-me{
    position: fixed;
    background-color: white;
    bottom: 20px;
    left: 20px;
    max-width: 301px;
    text-align: justify;
    padding: 1%;
    font-family: Helvetica;
}

.description li{
    list-style-type: none;
}

.description li p{
    font-size: 24px;
    padding: 1%;
    background-color: blanchedalmond;
    max-width: 750px;
}

.description li a p{
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6)
}

.modal:target {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    background: white;
    padding: 1rem;
}

.social-media li a img {
    background-color: transparent;
    
}

.social-media li a p {
    color: white;
    
}

form {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    max-width: 350px;
    align-items: center;
    justify-content: center;
    background-color: beige;
    padding: 2.5% 5%;
    margin-top: 7.5%;
    border-radius: 10%;
}

input, button {
    max-width: 250px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-content {
    display: flex;
    justify-content: center;
    
}